<configuration>
  <system.webServer>
    <handlers>
      <add name="FlaskHandler"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\Users\sysadmin\AppData\Local\Programs\Python\Python313\python.exe|C:\Users\sysadmin\AppData\Local\Programs\Python\Python313\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script"
           stdoutLogEnabled="true"
           stdoutLogFile="C:\inetpub\wwwroot\flaskapp\flask-error.log" />
    </handlers>

    <defaultDocument>
      <files>
        <add value="app.py" />
      </files>
    </defaultDocument>
  </system.webServer>
<asp scriptErrorSentToBrowser="true"/>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\flaskapp" />
  </appSettings>
</configuration>
